.myButton{
    appearance: none;
    padding:5px 10px;
    outline: none;
    background-color: #C6B9CD;
    color: #0B3142;
    font-weight: 500;
    font-size: 20px;
    border-radius: 20px;
    border: none;
}